{% extends 'word/base.html'%}


{% block title%}Мои проекты{% endblock%}
{% block content%}
    <div class="features">
        <h1>Мои проекты</h1>
        {%for el in index %}
            <div class="alert alert-warning">
                <h3>{{el.title}}</h3>
                <p> {{el.description}}</p>
                <p>{{el.technology}}</p>
                <img src="{{el.image.url}}" >
                <a href="{%url 'more_detail' el.id%}" class="btn btn-info">Подробнее</a>
            </div>
        {%endfor%}
    </div>
{%endblock%}